<main>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
      <h1 class="col-lg-8 text-center text-white">Alpha Bloggers</h1>
    </div>
    
    <div class="flickr_pagination">
      <%= will_paginate @users, :container => false %>
    </div>
    
    <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
      <div class="col-lg-8">
        <% @users.each do |user| %>
          <div class="card text-center mt-4">
            <div class="card-header">
              <%= link_to user.username, user %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
              <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
                <%= link_to 'View profile', user, class: "btn btn-outline-info" %>
                <% if logged_in? && user == current_user %>
                  <%= link_to 'Edit profile', edit_user_path(user.id), class: "btn btn-outline-primary" %>
                <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Joined <%= time_ago_in_words(user.created_at) %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="flickr_pagination my-4">
      <%= will_paginate @users, :container => false %>
    </div>
    
  </div>
</main>