<main>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 d-flex justify-content-center">
      <h1 class="col-lg-8 text-center text-white"><%= @user.username %>'s profile</h1>
    </div>
    <%= gravatar_for @user, size: 200 %>
    
    <% if logged_in? && @user == current_user %>
      <div class="text-center mt-4">
        <%= link_to 'Edit your profile', edit_user_path(@user), class: "btn btn-primary" %>
      </div>
    <% end %>
    
    <div class="flickr_pagination mt-4">
      <%= will_paginate @articles, :container => false %>
    </div>
    
    <%= render 'articles/articles' %>
    
    <div class="flickr_pagination my-4">
      <%= will_paginate @articles, :container => false %>
    </div>
    
  </div>
</main>